header.header
    .container
        .intro
            img(src="static/images/general/dogge.jpg" alt="Фотография Никиты").intro-photo
            h1.intro-name
                | Бо Джек
            span.intro-description
                | Full-stack developer based in Kamiennaja Horka, Minsk
            a(href="#contacts").btn
                | Связаться
