section.s-works.s-bg-dark
    .container
        .works
            h2.section-title
                | Мои работы
            span.section-description
                | Собраны избранные реально работающие проекты

            .work
                h3.work-title
                    | Карта
                a(href="#").work-link
                    | map.letatopis.by
                .work-carousel
                    .work-carousel__inner
                        input#carousel1-1.work-carousel__open(type='radio' name='carousel1' aria-hidden='true' hidden='' checked='checked')
                        .work-carousel__item
                            img(src='https://via.placeholder.com/700x377')
                        input#carousel1-2.work-carousel__open(type='radio' name='carousel1' aria-hidden='true' hidden='')
                        .work-carousel__item
                            img(src='https://via.placeholder.com/700x377')
                        input#carousel1-3.work-carousel__open(type='radio' name='carousel1' aria-hidden='true' hidden='')
                        .work-carousel__item
                            img(src='https://via.placeholder.com/700x377')
                    p.work-carousel__text
                        | Межзвездная матеpия на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), многопланово перечеркивает ионный хвост.
                    ul.work-carousel__indicators
                        li.work-carousel__indicator
                            label.work-carousel__bullet(for='carousel1-1')
                        li.work-carousel__indicator
                            label.work-carousel__bullet(for='carousel1-2')
                        li.work-carousel__indicator
                            label.work-carousel__bullet(for='carousel1-3')
            .work
                h3.work-title
                    | Карта
                a(href="#").work-link
                    | map.letatopis.by
                .work-carousel
                    .work-carousel__inner
                        input#carousel2-1.work-carousel__open(type='radio' name='carousel2' aria-hidden='true' hidden='' checked='checked')
                        .work-carousel__item
                            img(src='https://via.placeholder.com/700x377')
                        input#carousel2-2.work-carousel__open(type='radio' name='carousel2' aria-hidden='true' hidden='')
                        .work-carousel__item
                            img(src='https://via.placeholder.com/700x377')
                        input#carousel2-3.work-carousel__open(type='radio' name='carousel2' aria-hidden='true' hidden='')
                        .work-carousel__item
                            img(src='https://via.placeholder.com/700x377')
                    p.work-carousel__text
                        | Межзвездная матеpия на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), многопланово перечеркивает ионный хвост.
                    ul.work-carousel__indicators
                        li.work-carousel__indicator
                            label.work-carousel__bullet(for='carousel2-1')
                        li.work-carousel__indicator
                            label.work-carousel__bullet(for='carousel2-2')
                        li.work-carousel__indicator
                            label.work-carousel__bullet(for='carousel2-3')
            .work
                h3.work-title
                    | Карта
                a(href="#").work-link
                    | map.letatopis.by
                .work-carousel
                    .work-carousel__inner
                        input#carousel3-1.work-carousel__open(type='radio' name='carousel3' aria-hidden='true' hidden='' checked='checked')
                        .work-carousel__item
                            img(src='https://via.placeholder.com/700x377')
                        input#carousel3-2.work-carousel__open(type='radio' name='carousel3' aria-hidden='true' hidden='')
                        .work-carousel__item
                            img(src='https://via.placeholder.com/700x377')
                        input#carousel3-3.work-carousel__open(type='radio' name='carousel3' aria-hidden='true' hidden='')
                        .work-carousel__item
                            img(src='https://via.placeholder.com/700x377')
                    p.work-carousel__text
                        | Межзвездная матеpия на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), многопланово перечеркивает ионный хвост.
                    ul.work-carousel__indicators
                        li.work-carousel__indicator
                            label.work-carousel__bullet(for='carousel3-1')
                        li.work-carousel__indicator
                            label.work-carousel__bullet(for='carousel3-2')
                        li.work-carousel__indicator
                            label.work-carousel__bullet(for='carousel3-3')
