section.s-expectations.s-bg-white
    .container
        .expectations
            h2.section-title.section-title--left
                | Ожидания от ШРИ

            ul.expectations-accordion.vertical
                li.expectations-accordion__item
                    input#radio-1(type='radio' name='radio-accordion' checked='checked').expectations-accordion__radio
                    label(for='radio-1').expectations-accordion__label Свобода
                        .cross
                    .expectations-accordion__content
                        p.expectations-accordion__text
                            | Разработка медиаплана, анализируя результаты рекламной кампании, нейтрализует эмпирический портрет потребителя.
                li.expectations-accordion__item
                    input#radio-2(type='radio' name='radio-accordion').expectations-accordion__radio
                    label(for='radio-2').expectations-accordion__label Равенство
                        .cross
                    .expectations-accordion__content
                        p.expectations-accordion__text
                            | Разработка медиаплана, анализируя результаты рекламной кампании, нейтрализует эмпирический портрет потребителя.
                li.expectations-accordion__item
                    input#radio-3(type='radio' name='radio-accordion').expectations-accordion__radio
                    label(for='radio-3').expectations-accordion__label Братство
                        .cross
                    .expectations-accordion__content
                        p.expectations-accordion__text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec posuere lorem. Pellentesque hendrerit, lorem luctus porttitor vestibulum, eros sapien mattis libero, euismod congue neque nisi at ipsum. Mauris semper ipsum sit amet metus semper malesuada. Donec vel est justo, ac porta diam.
                li.expectations-accordion__item
                    input#radio-4(type='radio' name='radio-accordion').expectations-accordion__radio
                    label(for='radio-4').expectations-accordion__label Трудоустройство
                        .cross
                    .expectations-accordion__content
                        p.expectations-accordion__text
                            | In ut est in orci commodo blandit. Cras rhoncus ultricies augue. Proin quam odio, venenatis ut tempus tristique, aliquet in velit. Pellentesque volutpat facilisis orci, ut congue mi rhoncus at. Nullam vehicula dignissim neque, sed rhoncus magna ultricies et.


